NODE_ENV=development
PORT=3000
LOG_LEVEL=info
AUTH_MODE=local_identity

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=hidden_adventures
POSTGRES_USER=hidden_adventures
POSTGRES_PASSWORD=hidden_adventures
LOCAL_BACKUP_DIR=

COGNITO_USER_POOL_ID=
COGNITO_CLIENT_ID=
AWS_REGION=us-west-2
S3_BUCKET=
